# Google Calendar API
VITE_GOOGLE_CLIENT_ID=899688131389-pofcqejnclsa3hq25a4gdnad0hj48ehh.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=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
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/auth/google/callback

# Microsoft Office 365 API
VITE_MICROSOFT_CLIENT_ID=your_microsoft_client_id_here
VITE_MICROSOFT_CLIENT_SECRET=your_microsoft_client_secret_here
VITE_MICROSOFT_REDIRECT_URI=http://localhost:5173/auth/microsoft/callback
VITE_MICROSOFT_TENANT_ID=common

# Application
VITE_APP_URL=http://localhost:5173

# Firebase
VITE_FIREBASE_API_KEY=AIzaSyDJVx0xi2JM69uQk0eCjGuEltlWzaI6q2s
VITE_FIREBASE_AUTH_DOMAIN=dddd-565d4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dddd-565d4
VITE_FIREBASE_STORAGE_BUCKET=dddd-565d4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=306658954333
VITE_FIREBASE_APP_ID=1:306658954333:web:a7a1bffdf080b2c2ec11b4
VITE_FIREBASE_MEASUREMENT_ID=G-BMW9SN609K